#WebPage {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 6fr 1fr;
  grid-template-areas: "SideBar MainContent"
                       "PlayBar PlayBar";
}

#SideBar {
  grid-area: SideBar;
}

#PlayBar {
  grid-area: PlayBar;
}

#MainContent {
  grid-area: MainContent;
  background-color: var(--dark-black);
}

/* Mobile Style */
@media only screen and (max-width: 400px) {
  #WebPage {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr 1fr;
    grid-template-areas: "MainContent"
                         "PlayBar"
                         "SideBar";
  }
}

/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  
}